# Project information
site_name: Documentation
site_description: InvenioILS documentation web site
site_url: https://invenioils.docs.cern.ch

# Repository
repo_name: docs-invenio-ils
repo_url: https://github.com/inveniosoftware/docs-invenio-ils

# Copyright
copyright: Copyright &copy; 2021 CERN

# Configuration
theme:
  name: material
  palette:
    primary: white
  font:
    text: Open Sans
    code: Roboto Mono
  logo: assets/images/logo-ils.png
  favicon: assets/images/favicon.png

nav:
  - Home: index.md
  - Preview: preview.md
  - Customize:
    - Local development: customize/develop.md
    - Static pages: customize/static_pages.md
    - User anonymization: customize/anonymization.md
    - Vocabularies: customize/vocabularies.md
  - Reference:
    - Understanding data model: reference/data_model.md
    - Records relations: reference/record_relations.md
    - Managing access: reference/access_and_restrictions.md

# Customization
extra:
  social:
  - icon: fontawesome/brands/github
    link: https://github.com/inveniosoftware
  - icon: fontawesome/brands/twitter
    link: https://twitter.com/inveniosoftware
  - icon: fontawesome/solid/globe
    link: https://inveniosoftware.org/products/ils/
extra_css:
  - assets/stylesheets/extra.css

# Extensions
markdown_extensions:
  - admonition
  - codehilite:
      guess_lang: false
  - toc:
      permalink: true
